## __Python Data Types and Sequences__

The data in Python can be in many formats. They can be numbers, characters or decimals.

## Step 1: Numbers

- To declare a variable, we need to create a variable and assign a value to it
- Declare an integer variable 'a'
- Declare a float variable 'b'
- Declare a negative integer variable 'c'

In [1]:
a = 1
b = 1.0
c = -999

Use the 'type()' function to know the variable type

In [2]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'int'>

__Observations__

a and c are integer types, and b is a float type.

## Step 2: Strings

- Python strings are a set of characters enclosed in single or double quotes.

Now, let's declare a string variable.

- Declare a variable and assign a value which is in single or double quotes

In [3]:
a = '1'

Now, let's find the type of the variable.

In [4]:
type(a)

str

**Observation**

The type of the variable is a string even though the value stored in the variable is 1. This is because 1 is enclosed in quotes, which indicates a string value.

## Step 3: Lists

Lists are collections of heterogeneous elements and can be defined using square brackets, the list keyword or the list constructor.
Let's define lists in both ways.

In [ ]:
l = []
l = list()

- Define a list named 'l' with values 1, 2, 3, 4 and 5

In [ ]:
l = [1,2,3,4,5]

Now, let's access the 0th item from the list 'l'.

In [ ]:
l[0]

1

**Observation**

The list element present at index 0 is 1.

Now, let's access the last item present in the list 'l'.

- Add -1 inside the square bracket of list 'l'

In [ ]:
l[-1]

5

**Observation**

The last element of the list is 5, and it is accessed by using index -1.

Slice the list from index 2 to 3

- The syntax is list_name[start_point : end_point]

In [ ]:
l[2:4]

[3, 4]

**Observation**

The list element present at index 2 and 3 are returned.

Create a list with heterogeneous elements

- Give different data types as elements of list 'l'

In [ ]:
l = [1,'strings',[1,2,3]]

Now, let's print the list.

In [ ]:
print(l)

[1, 'strings', [1, 2, 3]]

**Observation**

The list 'l' contains an integer, a string and another list as elements.

There are two ways to traverse through the list elements.
- Access the elements in a list using a loop 
- Access the elements in an index-based approach

Let's access the elements using a for loop.
- Iterate variable 'i' through list 'l'
- print i

In [ ]:
for i in l:
    print(i)

1
strings
[1, 2, 3]

Now, let's access the data using the index method.
- Iterate i through the index of the list 'l', which is generated by the range() function
- Print the element in the i<sup>th</sup> location of the list 'l'

In [ ]:
for i in range(len(l)):
    print(l[i])

1
strings
[1, 2, 3]

**Observation**

The elements of the list are 1, strings and [1,2,3].

## Step 3: Tuples

Tuples are similar to lists but are immutable, meaning that they cannot be modified once created.
- Create a tuple t with 'apple', 'bottle' and 'car' as elements

In [ ]:
t = ('apple','bottle','car')

Now, let's find the type of 't'.

In [ ]:
type(t)

tuple

**Observation**

The type of 't' is tuple.

Now, let's access the 0<sup>th</sup> element in the tuple.

In [ ]:
t[0]

'apple'

**Observation**

- The first element of the tuple, which is in 0<sup>th</sup> index, is 'apple'.

Now, let's try to update the value of the 0<sup>th</sup> location in the tuple.

In [ ]:
t[0] = 'dog'

TypeError: 'tuple' object does not support item assignment

**Observation**

Since tuples are immutable, changing the value would throw an error.

- Create a tuple with length 1

In [ ]:
t = ('apple',)

In [ ]:
len(t)

1

**Observation**

The length of tuple 't' is 1.

## Step 4: Dictionaries

Dictionaries are key-value pairs and can be defined using curly brackets with key-value pairs inside.

- Create a dictionary 'd' with key values 'a' and 'b'.

In [ ]:
d = {'a':1,'b':2}

\Let's access the value of keys 'a' and 'b' from dictionary 'd'.

In [ ]:
d['a']

1

In [ ]:
d['b']

2

**Observation**

Dictionaries can be indexed using keys. Hence:

- d['a'] gives 1

- d['b'] gives 2

Let's add a new key-value pair to the dictionary.

In [ ]:
d['c']=3

In [ ]:
d

{'a': 1, 'b': 2, 'c': 3}

**Observation**

A new key value pair 'c': 3 is added to the dictionary.

Now, let's find all the items from dictionary 'd'.

In [ ]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

Now, let's find all the keys from dictionary 'd'.

In [ ]:
d.keys()

dict_keys(['a', 'b', 'c'])

Now, let's find all the values from dictionary 'd'.

In [ ]:
d.values()

dict_values([1, 2, 3])

**Observation** 

- d.items() returns the list of the items present in the dictionary.
- d.keys() returns only the keys.
- d.values() returns only the values.

## Step 4: Sets