## __Reading and Writing CSV Files__

Let's look at how to read and write CSV files. There are two methods that we can use. One is by using the CSV library and the other is by using pandas.

## Working with CSV
## Step 1: Import the CSV Library and Read the CSV File

Let's explore the CSV library.

- Import the CSV library
- Open the file Sample_File.csv, and mention the filename as argument to the open() function
- Load the file using the csv.reader() method
- Print the contents of the file using a for loop

In [47]:
import csv
csvFile = open('../../Datasets/Sample_data.csv')
csvReader = csv.reader(csvFile)

- csvReader is an object of csv.reader()
- Check the type of csvReader object
- This step is not necessary but can be helpful for verifying that the file was loaded correctly

In [48]:
type(csvReader)

_csv.reader

**Observation**

- The type of csvReader is _csv.reader.

Now let us print the contents of the file using a for loop
* Declare a variable that iterates through the csvReader
* Print the line

In [49]:
for line in csvReader:
    print(line)

['name', 'age', 'location', 'phpref']
['john', '35', 'germany', 'iphone']
['mary', '23', 'france', 'motorola']
['johnie', '40', 'germany', 'samsung']

## Step 2: Distinguish the Header and the Rows in the CSV File

- Open the CSV file for reading using the **with** and **open()** function
- Read the CSV file using the **reader()** function 
- Initiate the variable to **count** the rows
- Traverse through the lines in csvReader
- Check if the **count** is 0 and print the line as header if it is
- Else, print it as a row
- Increment the **count** by one

In [52]:
with open('../../Datasets/Sample_data.csv','r') as csvFile:
    csvReader = csv.reader(csvFile)
    count = 0
    for line in csvReader:
        if count == 0:
            print('Header: '+str(line))
        else:
            print('Row: '+str(line))
        count+=1

Header: ['name', 'age', 'location', 'phpref']
Row: ['john', '35', 'germany', 'iphone']
Row: ['mary', '23', 'france', 'motorola']
Row: ['johnie', '40', 'germany', 'samsung']
Row: ['Aarbhiii', '27', 'italy', 'iphone']

**Observation**
* The first row in a CSV file is always a header. 
* All other lines are rows.

## Step 3: Write a New Row to the CSV File

- Open the CSV file for writing using **with** and **open()** functions
- Create a writer object using the **writer()** function
- Write a new row to the CSV file using the **writerow()** function, and mention the row to be written as an argument to the **writerow()** function

In [51]:
with open('../../Datasets/Sample_data.csv','a',newline = '') as csvFile:
    csvWriter = csv.writer(csvFile)
    csvWriter.writerow(['Aarbhiii',27,'italy','iphone'])

## Step 4: Use the Pandas Library to Read and Modify CSV Files

- Import the pandas library
- Read the CSV file into a pandas DataFrame object using the read_csv() function

In [53]:
import pandas as pd

df = pd.read_csv('../../Datasets/Sample_data.csv')

Print the contents of the DataFrame to the console.
This step is not strictly necessary, but it can be helpful for verifying that the DataFrame was loaded correctly

In [54]:
df

       name  age location    phpref
0      john   35  germany    iphone
1      mary   23   france  motorola
2    johnie   40  germany   samsung
3  Aarbhiii   27    italy    iphone

**Observation**
* The DataFrame has a tabular structure with rows and columns.
* The first column represents the index of the rows.

## Step 5: Add a New Row to the DataFrame

To add a new row to the DataFrame:
- Locate the last row index of the DataFrame using the loc[ ] method
- Assign the new row item list to this location

In [55]:

df.loc[len(df.index)] = ['Gane',20,'Romania','sony']

Print the updated contents of the DataFrame to the console:

In [56]:
df

       name  age location    phpref
0      john   35  germany    iphone
1      mary   23   france  motorola
2    johnie   40  germany   samsung
3  Aarbhiii   27    italy    iphone
4      Gane   20  Romania      sony

**Observation**
* The row is added as the last row of the DataFrame.

## Step 6: Write the Updated DataFrame Back to the CSV File

- Use the to_csv() function to write the contents of the DataFrame to the CSV file

In [57]:
#The "index = False" argument is used to skip writing the index that has been created by pandas internally to the CSV file.
df.to_csv('../../Datasets/Sample_dataO.csv',index = False)

## Working with Other formats